html {
	height: 100%;		/* without this, there's a white space below the bckgr-img because body ends there. */
	/* 100% of the webpage --> background-img cover 100% of page */ 
}
body {
	font-family: 'Noto Serif TC', serif;
	font-size: 20px;
	font-weight: 600;
	background-color: seashell;
	color: #14a76c;

	/* these holy lines auto-size the background-image to fit the background */
	background: url(https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb);	
	/* in case the url fails, I got a copy in img folder */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container-fluid {			/* navbar */
	padding: 0;
}

.container {				/* contains the headers in navbar */
	
}

.navbar {
	font-size: 15px;
}
.navbar-nav a {	/* change the color of text in navbar */
	color: snow;
}

.navbar-brand {
	color: #33266E;
	font-weight: 900;
	font-size: 22px;
}

.jumbotron {
	/* make the background grey and transparent */
   background: rgb(246, 246, 246); /* This is for ie8 and below */
   background: rgba(246, 246, 246, 0.4); 
   margin-top: 100px;
 	color: #e85a4f;

}

#introduction-banner {
	text-align: center;
	
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),	/* add show to text */
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

#introduction-banner h1{
	font-size: 5em;
	font-weight: 900;		/*boldest */
}

#introduction-banner h3{

	font-weight: 900;		/* bold */
}

#introduction-banner hr{
	width: 600px;	/* makes the break line shorter */
	border-top: 1px solid #f8f8f8;			/* make the line bolder */
	border-bottom: 1px solid rbga(0,0,0,0.2);		/* create a shadow for the line */
}
