<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Seeds!</title>
  </head>
  <body>
    <nav>
      <div class="ui top fixed menu" style="user-select: auto;">
          <a href="#" class="item" style="user-select: auto;">Projects</a>
          <a href="#" class="item" style="user-select: auto;">Mentors</a>
          <a href="#" class="item" style="user-select: auto;">Events</a>
          <div class="ui menu">
            <a class="browse item">Add<i class="dropdown icon"></i></a>
          </div>
          <div class="ui fluid popup bottom left transition hidden">
            <div class="ui relaxed equal height divided grid">    <!-- ui four column relaxed equal height divided grid -->
              <div class="column">
                <div class="ui link list">
                  <a class="item" href="#">Add New Projects</a>
                  <a class="item" href="#">Add New Events</a>
                </div>    <!-- ./ui link list -->
              </div>      <!-- ./column -->
            </div>
          </div>    <!-- ./ui fluid popup -->

        <a href="/login" class="item" style="user-select: auto;">Login</a>
        <a href="/register" class="item" style="user-select: auto;">Sign Up</a>
        <a href="/logout" class="item" style="user-select: auto;">Logout</a>

      </div>      <!-- ./ui top fixed menu -->
    </nav>
