<h1> Journal To Sucess </h1>
<h3>BENEFITS</h3>
<div>
  <ul>
    <li>Review and hone your daily to-dos to achieve big picture goals</li>
    <li>Keep track of your progress</li>
    <li>Strengthens your sense of yourself</li>
    <li>Offers new perspectives</li>
    <li>Bring things together</li>
    <li>Improves self-trust</li>
    <li>Reveals and tracks patterns and cycles</li>
    <li>Balances and harmonizes</li>
    <li>Heals the past, soothes troubled memories</li>
    <li>Heals relationships</li>
  </ul>
</div>

<h3>HOW TO ACHIEVE YOUR GOALS </h3>
<div>
  <ul>
    <li>SPECIFIC — Write down your goal in a specific way. For example, rather than saying, I want to write about my business, say “I want to write a book about how I created my business.”</li>
    <li>MEASURABLE — Here you give details about how long your book will be in either chapters or pages or both, and your intended deadline.</li>
    <li>ACHIEVABLE — This is where you give evidence of your ability to achieve this task. Have you done something similar in the past, or do you have a habit of consistently writing a blog, for instance? Put that down.</li>
    <li>REALISTIC — Given all of your other commitments, can you realistically find the time to write this book? Do you realistically have the foundations to write a book? If so, articulate that here.</li>
    <li>TIME-BASED — You’ve given yourself a deadline above. Now break the project down into bite-sized lumps over time. Will you write on it for 30 minutes everyday or just two hours on Sunday afternoons or something in between? Based on that, is your deadline a realistic one? If not, adjust as needed.</li>
  </ul>
</div>
