<% include ./partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">


<div class="ui items">
  <div class="item" style="user-select: auto;">
    <div class="content" id="content" style="user-select: auto;">
      <div class="header" style="user-select: auto;">Cultivate your network in tech.</div>
      <div class="meta" style="user-select: auto;">
        <span class="price" style="user-select: auto;">For college students, interns and professionals</span>
      </div>
      <div class="description" id="description" style="user-select: auto;">
        <p>At Seeds, we help you find mentors to guide you career-wise, connect you wih talents around the world who share the same passion in tech as you do or going to networking events hosted by companies.</p>
        <button class="ui blue button" value="Mentors"><a style="color: white" href="/mentors">Mentors</a></button>
        <button class="ui blue button" value="Events"><a style="color: white" href="/events">Events</a></button>
        <button class="ui blue button" value="Projects"><a style="color: white" href="/projects">Projects</a></button>
      </div>
    </div>
    <div class="ui large image" style="user-select: auto;">
      <img src="/landing-img.jpg" style="user-select: auto;">
    </div>
  </div>    <!-- /.item -->
</div>      <!-- /.ui items headingText -->






<% include ./partials/footer.ejs %>
