<% include ./partials/header.ejs %>
<div class="ui left-aligned container">
    <div id="landingTitle">
        <h1>Cultivate your network of women in tech.</h1>
        
        <p>Connect with talented women around the world who share the same passion with tech as you do.</p>
    </div>
    
</div>





<% include ./partials/footer.ejs %>
