<<<<<<< Updated upstream
<% include partials/header.ejs %>

<h1>This is mentor page - kinda like Hall of Fame</h1>

<% include partials/footer.ejs %>
=======
<% include ./partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/mentor.css">

<div class="ui text container">
    <div class="ui two column grid">
        <!-- Row Start -->
        <div class="row">
            <!-- Card Start -->
            <div class="column">
                <div class="ui card">
                    <div class="image">
                        <img src="/kristy.png">
                    </div>
                    <div class="content">
                        <a class="header">Kristy Lee</a>
                        <div class="meta">
                            <i class="briefcase icon"></i>
                            <span>Software Engineer at Gooogle</span>
                            <br>
                            <i class="pencil alternate icon"></i>
                            <span>HTML, CSS, JS, Python, C++, Java</span>
                
                        </div>
                        <h4 class="ui sub header">Projects</h4>
                        <div class="ui small feed">
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        <a>Personal Website</a>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                        <a>Pokedex App</a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="description">
                                                        Kristy is an art director living in New York.
                                                    </div> -->
                        </div>
                        <div class="ui bottom attached button">
                            <i class="add icon"></i>
                            Add Friend
                        </div>
                    </div>
            </div>
        </div>  
        <!-- Card Finish -->

                    <!-- Card Start -->
                    <div class="column">
                        <div class="ui card">
                            <div class="image">
                                <img src="/kristy.png">
                            </div>
                            <div class="content">
                                <a class="header">Kristy Lee</a>
                                <div class="meta">
                                    <i class="briefcase icon"></i>
                                    <span>Software Engineer at Gooogle</span>
                                    <br>
                                    <i class="pencil alternate icon"></i>
                                    <span>HTML, CSS, JS, Python, C++, Java</span>
                    
                                </div>
                                <h4 class="ui sub header">Projects</h4>
                                <div class="ui small feed">
                                    <div class="event">
                                        <div class="content">
                                            <div class="summary">
                                                <a>Personal Website</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event">
                                        <div class="content">
                                            <div class="summary">
                                                <a>Pokedex App</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="description">
                                                                            Kristy is an art director living in New York.
                                                                        </div> -->
                                </div>
                                <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    Add Friend
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Finish -->

    </div>
    <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
                <!-- Card Start -->
                <div class="column">
                    <div class="ui card">
                        <div class="image">
                            <img src="/kristy.png">
                        </div>
                        <div class="content">
                            <a class="header">Kristy Lee</a>
                            <div class="meta">
                                <i class="briefcase icon"></i>
                                <span>Software Engineer at Gooogle</span>
                                <br>
                                <i class="pencil alternate icon"></i>
                                <span>HTML, CSS, JS, Python, C++, Java</span>
            
                            </div>
                            <h4 class="ui sub header">Projects</h4>
                            <div class="ui small feed">
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Personal Website</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Pokedex App</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="description">
                                                                    Kristy is an art director living in New York.
                                                                </div> -->
                            </div>
                            <div class="ui bottom attached button">
                                <i class="add icon"></i>
                                Add Friend
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card Finish -->
            
                <!-- Card Start -->
                <div class="column">
                    <div class="ui card">
                        <div class="image">
                            <img src="/kristy.png">
                        </div>
                        <div class="content">
                            <a class="header">Kristy Lee</a>
                            <div class="meta">
                                <i class="briefcase icon"></i>
                                <span>Software Engineer at Gooogle</span>
                                <br>
                                <i class="pencil alternate icon"></i>
                                <span>HTML, CSS, JS, Python, C++, Java</span>
            
                            </div>
                            <h4 class="ui sub header">Projects</h4>
                            <div class="ui small feed">
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Personal Website</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="content">
                                        <div class="summary">
                                            <a>Pokedex App</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="description">
                                                                                        Kristy is an art director living in New York.
                                                                                    </div> -->
                            </div>
                            <div class="ui bottom attached button">
                                <i class="add icon"></i>
                                Add Friend
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card Finish -->
            
            </div>
            <!-- Row End -->
</div>
</div>




<% include ./partials/footer.ejs %>
>>>>>>> Stashed changes
