<% include partials/header.ejs %>

<div class="ui main text container segment">
  <div class="ui huge header">Become a Mentor Today! </div>

  <form class="ui form" action="/mentors" method="POST">
    <div class="field">
      <label>Name: </label>
      <input type="text" name="mentor[name]">
    </div>

    <div class="field">
      <label>Skills: </label>
      <input type="text" name="mentor[skills]">
    </div>

    <div class="field">
      <label>Experience: </label>
      <textarea name="mentor[experience]" rows="4" cols="50" ></textarea>
    </div>

    <div class="field">
      <label>Projects: </label>
      <textarea name="mentor[projects]" rows="4" cols="50" ></textarea>
    </div>

    <div class="field">
      <label>Work place: </label>
      <input type="text" name="mentor[company]"></input>
    </div>

    <div class="field">
      <label>Avatar Photo Link(Smile :]): </label>
      <input type="text" name="mentor[cover_img]">
    </div>

    <button class="ui big blue basic button" type="submit">Submit</button>
  </form>
</div>

<% include partials/footer.ejs %>
