<% include partials/header.ejs %>

<div class="ui main text container segment">
  <div class="ui huge header">Create A New Event</div>

  <form class="ui form" action="/projects" method="POST">
    <div class="field">
      <label>Name: </label>
      <input type="text" name="event[name]">
    </div>

    <div class="field">
      <label>Date: </label>
      <input type="date" name="event[date]">
    </div>

    <div class="field">
      <label>Time: </label>
      <input type="text" name="event[time]">
    </div>

    <div class="field">
      <label>Location: </label>
      <input type="text" name="event[location]">
    </div>

    <div class="field">
      <label>Description: </label>
      <textarea type="text" name="event[description]" rows="4" cols="50"></textarea>
    </div>


    <button class="ui big blue basic button">Submit</button>
  </form>
</div>

<% include partials/footer.ejs %>
