<% include ./partials/header.ejs %>

<!-- <link rel="stylesheet" type="text/css" href="/projects.css"> -->

<div class="ui text container">
    <h1>Projects</h1>
    <div class="ui three column grid">
        <!-- Row Start -->
        <div class="row">
            <!-- Card Start -->
            <% for (var project of projects){ %>
              <div class="column">
                  <div class="ui card">
                      <div class="image">
                          <img src="/kristy.png">     <!-- CHANGE HERE -->
                      </div>
                      <div class="content">
                          <a class="header"><%= project.name%></a>
                          <div class="meta">
                              <i class="user icon"></i>
                              <span><%= project.author%></span>
                              <br>
                              <i class="code icon"></i>
                              <span><%= project.tools%></span>

                          </div>

                          <div class="description"><%= project.description%></div>
                      </div>
                          <div class="ui bottom attached button">
                              <i class="add icon"></i>
                              Join Project
                          </div>
                      </div>
                  </div>
              <!-- Card Finish -->
              <% } %>

            </div>    <!-- Row End -->


    </div>



</div>




    </div>
</div>




<% include ./partials/footer.ejs %>
