<% include ./partials/header.ejs %>

<!-- <link rel="stylesheet" type="text/css" href="/projects.css"> -->

<div class="ui text container">
    <h1>Projects</h1>
    <div class="ui three column grid">
        <!-- Row Start -->
        <div class="row">
            <!-- Card Start -->
            <div class="column">
                <div class="ui card">
                    <div class="image">
                        <img src="/kristy.png">
                    </div>
                    <div class="content">
                        <a class="header">Seeds</a>
                        <div class="meta">
                            <i class="user icon"></i>
                            <span>Ivy He, Rachel Quan, Anh Pham</span>
                            <br>
                            <i class="code icon"></i>
                            <span>HTML, CSS, JS, Python, C++, Java</span>

                        </div>
                        
                        <div class="description">
                            Seeds is a full-stack website that aims to cultivate a network of talented women.
                        </div>
                    </div>
                        <div class="ui bottom attached button">
                            <i class="add icon"></i>
                            Join Project
                        </div>
                    </div>
                </div>
            <!-- Card Finish -->

                <!-- Card Start -->
                <div class="column">
                    <div class="ui card">
                        <div class="image">
                            <img src="/kristy.png">
                        </div>
                        <div class="content">
                            <a class="header">Seeds</a>
                            <div class="meta">
                                <i class="user icon"></i>
                                <span>Ivy He, Rachel Quan, Anh Pham</span>
                                <br>
                                <i class="code icon"></i>
                                <span>HTML, CSS, JS, Python, C++, Java</span>
                
                            </div>
                
                            <div class="description">
                                Seeds is a full-stack website that aims to cultivate a network of talented women.
                            </div>
                        </div>
                        <div class="ui bottom attached button">
                            <i class="add icon"></i>
                            Join Project
                        </div>
                    </div>
                </div>
                <!-- Card Finish -->

                <!-- Card Start -->
                <div class="column">
                    <div class="ui card">
                        <div class="image">
                            <img src="/kristy.png">
                        </div>
                        <div class="content">
                            <a class="header">Seeds</a>
                            <div class="meta">
                                <i class="user icon"></i>
                                <span>Ivy He, Rachel Quan, Anh Pham</span>
                                <br>
                                <i class="code icon"></i>
                                <span>HTML, CSS, JS, Python, C++, Java</span>
                
                            </div>
                
                            <div class="description">
                                Seeds is a full-stack website that aims to cultivate a network of talented women.
                            </div>
                        </div>
                        <div class="ui bottom attached button">
                            <i class="add icon"></i>
                            Join Project
                        </div>
                    </div>
                </div>
                <!-- Card Finish -->

                </div>

                        <!-- Row Start -->
                        <div class="row">
                            <!-- Card Start -->
                            <div class="column">
                                <div class="ui card">
                                    <div class="image">
                                        <img src="/kristy.png">
                                    </div>
                                    <div class="content">
                                        <a class="header">Seeds</a>
                                        <div class="meta">
                                            <i class="user icon"></i>
                                            <span>Ivy He, Rachel Quan, Anh Pham</span>
                                            <br>
                                            <i class="code icon"></i>
                                            <span>HTML, CSS, JS, Python, C++, Java</span>
                        
                                        </div>
                        
                                        <div class="description">
                                            Seeds is a full-stack website that aims to cultivate a network of talented women.
                                        </div>
                                    </div>
                                    <div class="ui bottom attached button">
                                        <i class="add icon"></i>
                                        Join Project
                                    </div>
                                </div>
                            </div>
                            <!-- Card Finish -->
                        
                            <!-- Card Start -->
                            <div class="column">
                                <div class="ui card">
                                    <div class="image">
                                        <img src="/kristy.png">
                                    </div>
                                    <div class="content">
                                        <a class="header">Seeds</a>
                                        <div class="meta">
                                            <i class="user icon"></i>
                                            <span>Ivy He, Rachel Quan, Anh Pham</span>
                                            <br>
                                            <i class="code icon"></i>
                                            <span>HTML, CSS, JS, Python, C++, Java</span>
                        
                                        </div>
                        
                                        <div class="description">
                                            Seeds is a full-stack website that aims to cultivate a network of talented women.
                                        </div>
                                    </div>
                                    <div class="ui bottom attached button">
                                        <i class="add icon"></i>
                                        Join Project
                                    </div>
                                </div>
                            </div>
                            <!-- Card Finish -->
                        
                            <!-- Card Start -->
                            <div class="column">
                                <div class="ui card">
                                    <div class="image">
                                        <img src="/kristy.png">
                                    </div>
                                    <div class="content">
                                        <a class="header">Seeds</a>
                                        <div class="meta">
                                            <i class="user icon"></i>
                                            <span>Ivy He, Rachel Quan, Anh Pham</span>
                                            <br>
                                            <i class="code icon"></i>
                                            <span>HTML, CSS, JS, Python, C++, Java</span>
                        
                                        </div>
                        
                                        <div class="description">
                                            Seeds is a full-stack website that aims to cultivate a network of talented women.
                                        </div>
                                    </div>
                                    <div class="ui bottom attached button">
                                        <i class="add icon"></i>
                                        Join Project
                                    </div>
                                </div>
                            </div>
                            <!-- Card Finish -->
                        
                        </div>
                                <!-- Row End -->

            </div>

          

        </div>

        

        
    </div>
</div>




<% include ./partials/footer.ejs %>