/* Color Scheme: close to nature - https://visme.co/blog/website-color-schemes/*/
html {
	height: 100%;		/* without this, there's a white space below the bckgr-img because body ends there. */
	/* 100% of the webpage --> background-img cover 100% of page */
}

body {
	font-family: 'Noto Serif TC', serif;
	font-size: 20px;
	font-weight: 600;
	background-color: #F7F9FB;
	color: #31708E;
}

i.icon {
	font-size: 1.3em; 	/* double the size of parent's container */
}
.container-fluid {			/* navbar */
	padding: 0;
}

.main.container {				/* avoid body container overlapping with */
	margin-top: 4.0em;
}


/******** BODY ************/
.description{
	margin-bottom: 2em;
}

#delete-form{			/* since this is in <form>, <form> is block-element. Change to inline element. */
	display: inline;
}
/******** FOOTER ************/
#footer-quote {
	text-align: center;
}
