body {
	font-family: 'Noto Serif TC', serif;
	font-size: 16px;
	font-weight: 600;
	background-color: black;
	color: white;
	text-align: center;
}

.container-fluid {			/* navbar */
	padding: 0;
}

.container {				/* includes jumbotron, img */
	margin: 80px auto;
}

.navbar-inverse .navbar-nav>li>a {	/* change the color of text in navbar */
	color: snow;
	font-size: 1.1em;
}

.navbar-right{
	padding-right: 30px;
}

.navbar-inverse .navbar-brand {
	color: seashell;
	font-weight: 700;
	font-size: 1.5em;
}

.glyphicon-heart-empty{
	margin-left: 3px;
	font-size: 0.9em;
}

.jumbotron {
	background-color: #1f2833;
	margin-bottom: 50px;
}

.jumbotron h1 {
	font-weight: 900;		/* make it bold */
	text-transform: uppercase; 		/* make every letter uppercase */
	border-bottom: 2px solid #c5c6c7;	/* creates the line underneath the title */
	/*width: 63.32%;				/* make the line shorter */
	padding-bottom: 20px;
	color: #bab2b5;
	text-align: center;
}

.jumbotron h3{
	color: #c5c6c7;
	text-align: center;
	font-weight: 700;
}

.col-md-4, .col-sm-6, .col-xs-12 {		/* create space between artists */
	margin-bottom: 30px;
}

.thumbnail img {
	object-fit: cover;
	height: 300px;
	width: 100%;
}

 /*   .flex {
      display: flex;
      flex-wrap: wrap;
      }*/
