/* CSS of YelpTravel! */
body {
  text-transform: capitalize;
}

h1, h3 {
  text-align: center;
}

.jumbotron {
  text-align: center
}

.input-container {
  width: 30%;       /* make <input> smaller */
  margin: 50px auto;
}

.thumbnail img {      /* make image spans 100% of container thumbnail */
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.thumbnail {
    padding: 0;
}

.thumbnail>.img-responsive{
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 600px;
}

.thumbnail .caption {
    padding: 10px;
}

.button-to-form {         /* put edit, delete, add button inline */
  display: inline;
}

#footer {
  text-align: center;
}
