/* body {
  background-color: black;
} */

/* NAV BAR */
.menu .item{                          /*  Mentors, Events, Project  */
    font-size: 1.25em;
}

.item .input {                        /* hide search bar in navbar */
   display: none !important;
}

#brand-name {
  display: inline !important;
  font-size: 1.75em;
}

/* CONTENT */
.description {
  height: 100px;
}

.description>p{
  font-size: 1.2em;
  padding-top: 0.5em;
}

.ui.items>.item .extra {        /* RSVP and Read more */}

.ui.items>.item .extra>* {                    /* RSVP and Read more */
  margin-right: 3em;
}
