.menu .item{                          /* hide Mentors, Events, Project in navbar  */
  display: none !important;
}

.item .input {                        /* hide search bar in navbar */
   display: none !important;
}

#brand-name {
  display: inline !important;
  font-size: 1.75em;
}

.ui[class*="top fixed"].menu {
    margin-bottom: 20%;
}

.landingImg {
    margin-top: -55%;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

#content {
    margin: 10% 5% 0%;
}

#description {
  padding-top: 2%;
}

p {
    color: #616283;
    font-size: 1.2em;
}

.ui.items>.item>.content>.header:not(.ui) {
    color: #374A67;
    font-size: 2.5em;
}


.ui .button {
  margin: 1em 4em 0;
}
