html { height: 100%;}
 body {
  height: 100%;
  font-family: 'Lora', serif;
  background: -webkit-linear-gradient(to right, #fce4ed, #ffe8cc);  /*Chrome 10+, Saf5 */
  background: -moz-linear-gradient(to right, #fce4ed, #ffe8cc);
  background: -ms-linear-gradient(to right, #fce4ed, #ffe8cc);      /*IE10 */
  background: -o-linear-gradient(to right, #fce4ed, #ffe8cc);       /* Opera 11.10+ */
  background: linear-gradient(to right, #fce4ed, #ffe8cc);          /* W3C */

  /*Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fce4ed, #ffe8cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #1F2605;
  /* fallback for old browser */
  color: #F76C6C;

  /* if the computed height is less than 100%, in fact even if you explicitly specified a height less than 100%, it is treated as if you said height:100%. If the content exceeds 100%, this expand past the container's height */
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

input[type=text] {
  background: #f7f7f7;
  width: 100%;
  /* without this, input space is 200x49px only */
  box-sizing: border-box;
  /* the values you specify for height and width of <input> will include border and padding. The content box will shrink to absorbe that extra width and height of padding and border. Good for child container inside parent container. */
  height: 50px;
  border: 3px solid gray;
  padding-left: 25px;
  font-size: 0.8em;
  color: gray;
}

input[type=text]:focus {
  background-color: #edf1f5;
  border: 3px solid #86a8e7;
  outline: none;
  color: #86a8e7;
}

/* for the trash icon */
span {
  float: right;
  height: inherit;
  width: 10px;
  display: inline-block;
  background-color: gray;
  text-align: center;
  color: orange;
  opacity: 0;     /*when mouse is not hover over, hide the trash can */
  transition: 0.4s linear;
  /*control animation speed when changing CSS properties of trash when hover over with JS */
}

/* when mouse hovers over li, makes the span appear */
.todos li:hover span{
    width: 8%;
    opacity: 1.0;
    margin-left: 5px;
}

/*for trash icon: when hover mouse over trash icon, the cursor changes shape */
i {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button{
  background-color: #86a8e7; /* blue */
  border: none;     /* by default, buttons have a grey border */
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px 20px;
  margin: 20px;
  /*display: inline-block;*/
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;  /* transition to hover */
}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid #86a8e7;
}

#header {
  text-decoration: dashed;
  color: white;
  text-align: center;
  font-size: 30px;
  background-color: #86a8e7;
  padding: 30px;
  border-color: #A8D0E6;
  margin: 0 auto;
}

#header h1 {
  font-weight: bold;
  text-transform: uppercase;
  word-spacing: 10px;
}

#header h3 {
  font-size: 0.6em;
}

#buttons {
  display: inline-block;
  margin-left: 15%;   /*push all three button to the right */
  top: 20px;
  bottom: 5px;
  position: relative;
}

#todo {
  /* W3C, IE 10+ 0+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 auto;
  margin-top: 75px;
  max-width: 40%;
  min-height: 100%;
  box-shadow: 0 0 1em black;
  background-color: white;
  position: relative; /*relative to its normal position, so "left:20px" adds 20 pixels to the element's original LEFT position*/  /*use here because button, a child element, is position absolute so its parent's position is relative */
  font-size: 1.5em;
}

.fa-pencil-alt {
  margin-left: 20px;
  font-size: 0.8em;
  padding-top: 8px;
}

.mouse-hover {
  color: #F8E9A1;
}

.completed {
  /* this is a class, whose style can be assigned to multiple HTML elements */
  text-decoration: line-through;
  text-decoration-color: grey;
  opacity: 0.5;
}

.italic {
  font-style: italic;
}


.todos{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* each task in todo list */
.todos li {
    background: #f7f7f7;  /* grey */
    min-height: 50px;
    line-height: 50px;
    padding-left: 20px;
}

/* change the color of every other li in todo list */
.todos li:nth-child(2n){
    background:#edf1f5;
}


/* cross out the task, toggled by JS */
.checked{
    color:gray;
    text-decoration:line-through;
}
