<% include ./partials/header.ejs %>

<!-- action's value must be the same as app.post()'s URL in backend app.js -->
<div class="container">
  <div class="row">
    <h1>Edit a Comment</h1>
    <div class="input-container">
      <form class="form-horizontal" action="/destinations/<%=destination_id%>/comments/<%=comment._id%>?_method=PUT" method="post">
        <div class="form-group">
          <label for="cm">Comment:</label>
          <textarea id="cm" class="form-control" name="comment[content]" rows="4" cols="80"><%=comment.content%></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-info btn-sm btn-block">Submit</button>   <!-- btn-block expands the whole btn to parent's container -->
        </div>  <!-- .form-group -->
      </form>
    </div>  <!-- .input-container -->

  </div>  <!-- .row -->
</div>    <!-- .container -->


<% include ./partials/footer.ejs %>
