<% include ./partials/header.ejs %>

<h1>Login</h1>
<form class="" action="/login" method="post">
    <input type="text" name="username" placeholder="username" value="">
    <input type="password" name="password" placeholder="password" value="">
    <input type="submit" value="Login!">
</form>

<ul>
  <li><a href="/register">Sign Up</a></li>
  <li><a href="/destinations">All Destinations</a></li>
</ul>
<% include ./partials/footer.ejs %>
