<%include partials/header.ejs%>
<h1> <%=destination.name%> </h1>
<img src="<%destination.image%>">
<p><%= destination.state%>, <%= destination.country%></p>
<p><%= destination.description%></p>
<%include partials/footer.ejs%>
