/* CSS of YelpTravel! */
h1, h3 {
  text-align: center;
}

.input-container {
  width: 30%;       /* make <input> smaller */
  margin: 50px auto;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}
